<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kangyonggan.server.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.server.model.Article">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="created_username" jdbcType="VARCHAR" property="createdUsername"/>
        <result column="apply_status" jdbcType="VARCHAR" property="applyStatus"/>
        <result column="reply_msg" jdbcType="VARCHAR" property="replyMsg"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>

        <result column="name" jdbcType="VARCHAR" property="createdName"/>
    </resultMap>

    <select id="searchArticles" resultMap="BaseResultMap">
        SELECT
        a.id, a.title, a.created_username, a.apply_status, a.reply_msg, a.status, a.created_time, b.name
        FROM tb_article a
        LEFT JOIN tb_user b ON a.created_username = b.username
        <where>
            a.created_username = #{query.createdUsername}
            <if test="query.title != null and query.title != ''">
                AND a.title LIKE CONCAT('%', #{query.title}, '%')
            </if>
            <if test="query.applyStatus != null and query.applyStatus != ''">
                AND a.apply_status = #{query.applyStatus}
            </if>
            <if test="query.applyStatus != null and query.applyStatus != ''">
                AND a.apply_status = #{query.applyStatus}
            </if>
            <if test="query.startDate != null and query.startDate != ''">
                AND a.created_time &gt;= #{query.startDate}
            </if>
            <if test="query.endDate != null and query.endDate != ''">
                AND a.created_time &lt;= #{query.endDate}
            </if>
        </where>
        <if test="query.appSort != null and query.appSort != ''">
            <if test="query.appOrder != null and query.appOrder != ''">
                ORDER BY ${query.appSort} ${query.appOrder}
            </if>
        </if>
    </select>
</mapper>