<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kangyonggan.server.mapper.NovelMapper">
    <resultMap id="BaseResultMap" type="com.kangyonggan.server.model.Novel">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="category_code" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="pic_url" property="picUrl" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="INTEGER"/>
        <result column="descp" property="descp" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectLastNovelCode" resultType="Integer">
        SELECT code
        FROM tb_novel
        ORDER BY code DESC
        limit 1
    </select>

    <select id="searchNovels" resultMap="BaseResultMap">
        SELECT a.*, b.lastSectionCode, c.title AS lastSectionTitle
        FROM tb_novel a LEFT JOIN
          (SELECT max(code) AS lastSectionCode, novel_code FROM tb_section GROUP BY novel_code) b
          ON a.code = b.novel_code
        LEFT JOIN tb_section c
          ON c.code = b.lastSectionCode
          WHERE a.is_deleted = 0
        <if test="code != null and code != ''">
            AND a.code = #{code}
        </if>
        <if test="name != null and name != ''">
            AND a.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="author != null and author != ''">
            AND a.author LIKE CONCAT('%', #{author}, '%')
        </if>
        <if test="categoryCode != null and categoryCode != ''">
            AND a.category_code = #{categoryCode}
        </if>
        ORDER BY a.code ASC
    </select>

    <select id="searchNovelsByKey" resultMap="BaseResultMap">
        SELECT a.*, b.lastSectionCode, c.title AS lastSectionTitle
        FROM tb_novel a LEFT JOIN
          (SELECT max(code) AS lastSectionCode, novel_code FROM tb_section GROUP BY novel_code) b
          ON a.code = b.novel_code
        LEFT JOIN tb_section c
          ON c.code = b.lastSectionCode
        WHERE a.is_deleted = 0
           AND (
              a.name LIKE CONCAT('%', #{key}, '%')
              OR a.author LIKE CONCAT('%', #{key}, '%')
              )
        ORDER BY a.code ASC
    </select>
</mapper>